/*Stylesheet para o arquivo index.html */
/*NavBar*/
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a{
    color: white;
    background-color: skyblue;
    border: 2px royalblue solid;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    flex-grow: 1;
}

.nav a:hover{
    box-shadow: 0px 2px skyblue;
    transition: linear 0.2s;
}

.nav a:active{
    transform: translateY(2px);
    box-shadow: 0px 0px skyblue;
}
/*NavBar*/

:root{
    background-color: rgb(71, 70, 70);
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

/*teste*/
.n1{
    background-color: rgb(43, 75, 255);
    width: 25%;
    height: 100%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.n2{
    background-color: rgb(20, 220, 97);
    width: 25%;
    height: 100%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.n3{
    background-color: rgb(245, 230, 23);
    width: 25%;
    height: 100%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.n4{
    background-color: crimson;
    width: 25%;
    height: 100%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.pixel{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
/*teste*/

.pixel h3:hover{
    cursor: pointer;
}

.pixel h3:active{
    color: rgb(29, 29, 29);
}